{% extends 'tracker_planner.html' %}
{% block title %}Book Tracker & Planner{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center mb-3">
        <h1 class="modal-title fs-2 fw-bold text-center">Book Tracker</h1>
    </div>
  
    <input type="hidden" id="book" name="book"> 
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-4">
        <!-- Display all books that can be borrowed -->
    </div>

    <div class="modal fade" id="trackBookModal" tabindex="-1" aria-labelledby="trackBookModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 fw-bold" id="exampleModalLabel">Track This Book</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: black;">&#x2715</button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="number" name="page" placeholder="Total Book Pages" class="form-control" id="floatingPage">
                            <label for="floatingPage">Total Book Pages</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" name="progress" placeholder="Total Pages You've Read" class="form-control" id="floatingProgress">
                            <label for="floatingProgress">Total Pages You've Read</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #6c757d; color: #fff;">Close</button>
                    <button type="button" class="btn btn-primary" id="button-add" data-bs-dismiss="modal" style="background-color:#007bff; color: #fff;" onclick="addTracker()">Track Book</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Function to get all books that has been borrowed
        async function getBorrowedBooks() {
            return fetch("{% url 'trackernplanner:show_json_borrowedbooks' %}").then((res) => res.json());
        }

        // Function to display all books that can be borrowed
        async function refreshBooks() {
            document.querySelector(".row").innerHTML = "";
            const books = await getBorrowedBooks();
            
            if (books.length === 0) {
            const noBooksMessage = `
                <div class="col-md-12 text-center">
                    <p>You have to borrow books first to use this feature.</p>
                </div>`;
            const row = document.querySelector(".row");
            row.innerHTML += noBooksMessage;
            } else {
                books.forEach((item, index) => {
                    const bookId = item.pk;
                    const bookCard = `
                    <div class="col-md-2 book">
                        <div class="card mb-4">
                            <img class="card-img-top" src="${item.fields.Gambar}" alt="Book Image">
                            <div class="card-body">
                                <h5 class="card-title text-center pt-2 pb-2 h6 font-weight-bold">${item.fields.Judul}</h5>
                                <hr class="hr" />
                                <p class="card-text pt-2"><b>Category: </b>${item.fields.Kategori}</p>
                                <p class="card-text"><b>Author: </b>${item.fields.Penulis}</p>
                            </div>
                                <div class="d-grid">
                                    <button class="btn btn-success borrow-button" data-book="${bookId}" onclick="showConfirmationModal(this)" id="borrowButton">
                                        Track
                                    </button>
                                </div>
                            </ul>
                        </div>
                    </div>`;
        
                    const row = document.querySelector(".row");
                    row.innerHTML += bookCard;
                });
            }
        }
        refreshBooks();

        function showConfirmationModal(button) {
            const bookId = button.getAttribute("data-book");

            // Select the page and progress elements inside the modal by their IDs
            const pageInput = document.getElementById("floatingPage");
            const progressInput = document.getElementById("floatingProgress");

            // Set the value of the hidden book input
            document.querySelector("#book").value = bookId;

            const trackBookModal = new bootstrap.Modal(document.getElementById("trackBookModal"));
            trackBookModal.show();
        }

        function addTracker(button) {
            const formData = new FormData(document.querySelector('#form'));
            const bookId = button.getAttribute("data-book");

            formData.append('book', bookId);
            formData.append('status', (formData.get('page') === formData.get('progress')) ? 'finished' : 'in-progress');

            fetch("{% url 'trackernplanner:track_book' %}", {
                method: "POST",
                body: formData,
            }).then(() => {
                refreshBooks();
                console.log("berhasil")
            });

            document.getElementById("form").reset();

            return false;
        }
    </script>
{% endblock content %}