{% extends 'menu.html' %}
{% block title %}Order & Borrow{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Alert modal -->
<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel">Alert</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: black;">&#x2715</button>
            </div>
            <div class="modal-body">
                <p id="alertMessage">This is the alert message.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="background-color:#20809d; color: white;">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Return confirmation modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="confirmationModalLabel">Order & Borrow</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: black;">&#x2715</button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to return this book?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #6c757d; color: #fff;">Cancel</button>
                <button type="button" class="btn btn-success" id="confirmBorrow" data-bs-dismiss="modal" style="background-color: #dc3545; color: #fff;" onclick="returnBook()">Return</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="book" name="book">
<div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-4">
    <!-- Display books borrowed by user in cards -->
</div>

<style>
    .checked {
        color: orange;
        }
</style>

<script>
    
    // Function to get all books from the dataset
    async function getBooks() {
        return fetch("{% url 'booklist:get_books' %}").then((res) => res.json())
    }

    // Function to get all books that has been borrowed
    async function getBorrowedBooks(){
        return fetch("{% url 'ordernborrow:show_json_borrowedbooks' %}").then((res) => res.json())
    }

    // Function to display an alert modal and change its message.
    async function showAlert(message) {
        $("#alertMessage").text(message);
        $('#alertModal').modal('show');
    }

    // Function to display books borrowed by user in cards
    async function refreshBooks() {
        document.querySelector(".row").innerHTML = "";
        const books = await getBooks();
        const borrowedBooks = await getBorrowedBooks();
        const currentUserId = "{{ current_user_id }}";

        const userBorrowedBooks = books.filter((item, index) => {
            const bookId = item.pk;
            return borrowedBooks.some(book => book.fields.book == bookId && book.fields.user == currentUserId);
        });

        if (userBorrowedBooks.length === 0) {
            const noBooksMessage = `
                <div class="col-md-12 text-center">
                    <p>You haven't borrowed any books yet.</p>
                </div>`;
            const row = document.querySelector(".row");
            row.innerHTML += noBooksMessage;
        }
        else{
            books.forEach((item, index) => {
                const bookId = item.pk;
                const isBorrowed = borrowedBooks.some(book => book.fields.book == bookId && book.fields.user == currentUserId);

                if (isBorrowed) {
                    const bookCard = `
                    <div class="col-md-2 book">
                        <div class="card mb-4">
                            <img class="card-img-top" src="${item.fields.Gambar}" alt="Book Image">
                            <div class="card-body">
                                <h5 style="color: #513C1E;" class="card-title text-center pt-2 pb-2 h6 font-weight-bold">${item.fields.Judul}</h5>
                                <hr style="color: #513C1E;"class="hr" />
                                <p style="color: #513C1E;" class="card-text pt-2"><b>Kategori: </b>${item.fields.Kategori}</p>
                                <p style="color: #513C1E;"class="card-text"><b>Penulis: </b>${item.fields.Penulis}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li hidden class="list-group-item larger-text">${item.fields.Rating}</li>
                                <li class="list-group-item text-center">
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </li>
                                <li class="btn btn-danger" onclick="showConfirmationModal(this)" data-book="${bookId}">
                                    Return
                                </li>
                            </ul>
                        </div>
                    </div>`;

                    const row = document.querySelector(".row");
                    row.innerHTML += bookCard;
                }
            });
        }
        setMaxHeight()
        displayRating()
    }

    // Function to show return confirmation modal
    async function showConfirmationModal(button) {   
        var book = $(button).data('book');   
        $('#book').val(book);
        const confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
        confirmationModal.show();
    }

    // Function to return borrowed books by user
    async function returnBook() {
        var book = $('#book').val();
        fetch(`{% url 'ordernborrow:return_book_member' 0 %}`.replace('0', book), {
            method: "POST"
        })
        .then((response) => {
            if (response.ok) {
                refreshBooks()
                showAlert("Successfully returned! Thank you for returning the book!")
                makeBorrowHistory()
            } else {
                showAlert("Return failed. Please try again.");
            }
        })
        .catch((error) => {
            console.error("Error while returning book:", error);
            showAlert("Return failed. Please try again.");
        });
    }

      // Function to put book that has been returned in borrowed history
      async function makeBorrowHistory() {
        var book = $('#book').val();

        $.ajax({
            type: "POST",
            url: "{% url 'ordernborrow:create_borrowed_history' %}",
            data: {
                book: book,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function(data) {
            },
            error: function(error) {
            }
        });
    }

    async function displayRating() {
        const books = document.querySelectorAll(".book");
        books.forEach((book) => {
            const rating = parseInt(book.querySelector(".larger-text").textContent);
            const stars = book.querySelectorAll(".fa-star");
            for (let i = 0; i < stars.length; i++) {
            if (i < rating) {
                stars[i].classList.add("checked");
            } else {
                stars[i].classList.remove("checked");
            }
            }
        });
    }

    function setMaxHeight() {
        var cards = document.getElementsByClassName("card mb-4");
        var maxHeight = 0;

        for (var i = 0; i < cards.length; i++) {
        var cardHeight = cards[i].clientHeight;
        if (cardHeight > maxHeight) {
            maxHeight = cardHeight;
        }
        }
        maxHeight += 1;
        for (var i = 0; i < cards.length; i++) {
        cards[i].style.height = maxHeight + "px";
        }
    }
    refreshBooks()

</script>
{% endblock %}